/*
-----------------------------------------------------
CATEGORIES
-----------------------------------------------------
*/

.box-categories {

    .new {
        width: 400px;
        margin: 100px auto 50px auto;

        .cancel {
            display: block;
            text-align: center;
        }
    }

}