/*
-----------------------------------------------------
HEADER
-----------------------------------------------------
*/

body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: $white;
    z-index: 1000;
    color: $blue;
    @include box-shadow(0, 5px, 15px, rgba(0, 0, 0, .1));

    .logo {
        font-size: 40px;
        font-weight: 100;
        line-height: $header-height;
        @include center-absolute();

        @include low-resolution {
            font-size: 30px;
        }

    }

    .actions {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        @include clearfix();

        > li {
            float: left;
            color: $blue;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }

            > a {
                font-size: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease;
                display: inline-block;

                &:hover,
                &.active {
                    background: $blue;
                    color: $white;
                }

                > i {
                    @include center-absolute();
                }
            }
        }
    }
}