/*
----------------------------------------------------
TABLES
----------------------------------------------------
*/

.table {
    width: 100%;

    > li {
        margin: 0;
        padding: 30px;
        text-align: center;
        font-size: 14px;
        line-height: 50px;
        border-bottom: 1px solid $table-border-color;

        &:last-child {
            border-bottom: none;
        }
    }
}

