/*
-----------------------------------------------------
HOMEPAGE
-----------------------------------------------------
*/

.box-homepage {

    .modal {
        width: 400px;
        margin: 100px auto 50px auto;

        h1 {
            text-align: center;
        }

        > a {
            display: block;
            text-align: center;
        }
    }

}